* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .slider .slides li .caption {
  top: 10%;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.overlay {
  background-color: black;
}

nav {
  background-color: teal !important;
}

.main-header {
  background: url(../img/resort2.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  opacity: 0.95;
}

.indicators {
  visibility: hidden;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.ul-logo {
  margin-top: 1rem;
}

.logo {
  width: 7rem;
  height: auto;
}

.home-img {
  opacity: 0.5 !important;
}

a {
  font-size: 1.1rem !important;
  color: rgb(26, 24, 24);
}

.places {
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.media-plug {
  padding-bottom: 1rem;
}

.main-header .showcase {
  padding-top: 110px;
} */

.logo {
  width: 7rem;
  height: auto;
}

/* GRID CARD CSS STARTS HERE */

.card-grid {
  background-color: #151320;
  height: 100vh;
  display: grid;
  place-items: center center;
  font-family: "Poppins", sans-serif;
}
.card-grid .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}
.card-grid .card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.card-grid .container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-grid img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.card-grid .container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card1 > .container:after {
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.card2 > .container:after {
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}
.card3 > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.card-grid .details {
  padding: 20px 10px;
}
.card-grid .details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.card-grid .details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

/* GRID CARD CSS ENDS HERE */
