@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/variables";
@import "./base/animations";
@import "./component-1/button.scss";
@import "materialize.scss";
@import "base/base";
@import "base/utilities";
@import "Layout/grid";
//Text Color Function
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

body {
  background-color: #00796b;
  color: #ffffff;
}

.ul-logo {
  margin-top: 1rem;
}

.logo {
  width: 7rem;
  height: auto;
}

.main-text {
  padding-top: 26px;
  padding-bottom: 10px;
}

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card-content {
  color: $primary-color;
}

.modal {
  color: #333;
}
