// @import "./abstract/functions";
// @import "./abstract/mixins";
// @import "./abstract/variables";
// @import "./base/animations";
// @import "./component-1/button.scss";
@import "materialize.scss";
// @import "base/base";
// @import "base/utilities";
// @import "Layout/grid";
//Text Color Function

@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

body {
  background-image: linear-gradient(to right, #de7c00, #651b32);
  // background-image: linear-gradient(to right, #7b4397, #dc2430);
  color: #ffffff;
}

.ul-logo {
  margin-top: 1rem;
}

.logo {
  width: 7rem;
  height: auto;
}

.main-text {
  padding-top: 26px;
  padding-bottom: 10px;
  color: #e9e9e9;
  font-weight: 600;
}

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card-content {
  color: $primary-color;
}

.modal {
  color: #333;
}

.radius {
  border-radius: 500px !important;
}
