@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.95);
  --menu-speed: 0.75s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  background: #0a2a43;
  background: linear-gradient(to right, #16222a, #3a6073);

  min-height: 1500px;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  z-index: 1000;
  /* background-color: #151320af; */
  background-color: rgb(211, 211, 211);
  z-index: 1000000;
}

/* COPY 3 */

.logo {
  position: relative;
  top: 3px;
  width: 7.5rem;
  z-index: 10000;
}

.header-info-1 {
  position: relative;
  display: flex;
}

header .toggle {
  max-width: 60px;
  cursor: pointer;
}

header .toggle img {
  max-width: 100%;
}

/* COPY 4 */

.top-logo-phone {
  position: relative;
  top: 0px;
  color: rgba(33, 21, 21, 0.802);
  font-size: 1.5rem;
}

.header-info {
  position: relative;
  top: -4px;
  left: 6rem;
}

.header-info-2 {
  position: relative;
  top: -5px;
  color: rgb(48, 47, 47);
}
.header-info-2 .logo-header {
  font-size: 1.3rem;
}
.header-info-2 .phone-number {
  font-size: 1.3rem;
}

.fa-twitter:before,
.fa-instagram:before {
  font-size: 1.7rem;
}

.twitter-header {
  color: #00acee;
  margin-right: 1rem;
}

.instagram-header {
  color: #c13584;
}

.twitter {
  color: #00acee;
}

.instagram {
  color: #c13584;
}

.top-logo-twitter {
  position: relative;
  left: 2rem;
  font-size: 2rem;
  top: -2px;
}
.top-logo-instagram {
  position: relative;
  left: 4rem;
  font-size: 2rem;
  top: 4px;
}

.top-text {
  position: relative;
  font-size: 1.2rem;
  right: -0.5rem;
}

.menu-wrap {
  position: relative;
  top: 0px;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: relative;
  top: 0px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

/* COPY 1 */

.menu-wrap .hamburger {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  /* background: var(--primary-color); */
  background-color: rgba(0, 0, 0, 0.672);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 200vw;
  height: 250vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.moving-images {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-images:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 100000;
}

.moving-images:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 100000;
  mix-blend-mode: color;
}

.moving-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: #fff;
  font-size: 7em;
  z-index: 10;
  font-weight: 400;
}

#road {
  z-index: 2;
}

/* NEED TO KNOW */

.kenya::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  /* background: linear-gradient(to top, #111, #fff); */
  mix-blend-mode: color;
}

.kenya h2,
.travel h2 {
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.kenya,
.travel {
  position: relative;
  margin: auto;
  padding: 0 5rem;
}

.to-know {
  color: #fff;
  z-index: 1000000000;
  padding: 0 8rem;
}

.to-know li {
  margin: 1.5rem;
  margin-bottom: 3rem;
  font-size: 20px;
  font-weight: 200;
}

.text-info {
  font-size: 18px;
}

/* NEED TO KNOW ENDS HERE */

/* FOOTER STARTS HERE */

footer {
  position: relative;
  bottom: 0px;
  background: #111;
  padding: 4rem 0;
  padding-left: 90px;
}

footer h2,
footer p,
footer span {
  color: rgb(158, 158, 158);
}

.main-content {
  display: flex;
  flex-direction: row;
}

.main-content .box {
  width: 100%;
}

.box {
  margin-left: 1rem;
}

.box h2 {
  font-size: 1.325rem;
  font-weight: 400;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}

.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form .msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

.top-text {
  margin-right: 1rem;
}
.fa-envelope-open-text:before {
  content: "\f658";
  color: rgb(157, 157, 157);
}

footer .fa-twitter:before,
footer .fa-instagram:before {
  font-size: 2.5rem;
}

/* FOOTER ENDS HERE */

.input-text {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 33px;
}

.copied-alert {
  visibility: hidden;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(10, 10, 10);
  font-size: 1.5rem;
  text-align: center;

  color: white;
}

.span-copied {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}

button {
  cursor: pointer;
}
#myInp {
  background-color: transparent;
  width: 9rem;
}

.input-text {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 33px;
}
@media (max-width: 950px) {
  #btnCopy {
    position: relative;
    padding: 6px 5px;
    font-weight: 400;
    color: rgb(31, 31, 31);
    top: -2px;
  }

  .input-text {
    top: 0;
    color: rgb(31, 31, 31);
  }

  #myInp {
    width: 11rem;
    font-weight: 400;
    font-size: 18px;
    padding: 2px;
  }

  .input-text {
    font-size: 19px;
  }

  .input-text {
    position: relative;
    display: inline-block;
    top: -3px;
    right: 27px;
  }
  .to-know li {
    font-size: 19px;
  }

  #text {
    margin-left: 4rem !important;
    font-size: 5.5em;
  }

  footer .fa-twitter:before,
  footer .fa-instagram:before {
    font-size: 2.5rem;
  }

  .fa-twitter:before,
  .fa-instagram:before {
    position: relative;
    font-size: 2.4rem;
    top: 4px;
  }

  .header-info-2 .phone-number {
    font-size: 1.5rem;
  }

  .hide {
    display: none;
  }

  .header-infp-2 .fa-envelope:before {
    content: "\f0e0";
    display: none;
  }

  .header-info-2 .logo-header {
    font-size: 1.6rem;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  .hide {
    display: none;
  }

  .logo {
    width: 8rem;
  }

  .header-info {
    left: -1rem;
    top: -6px;
  }
  .top-logo-phone {
    font-size: 2rem;
  }

  .top-text {
    font-size: 1.8rem;
  }

  .top-logo-twitter,
  .top-logo-instagram {
    font-size: 2.5rem;
  }

  .body {
    position: relative;
    height: 70vh;
  }

  .title-1 {
    margin-bottom: 50px;
  }

  .content h2 {
    margin-top: 2rem;
    font-size: 40px;
  }

  .content h2,
  .content p {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .content .text-info {
    font-size: 25px;
  }

  .menu-wrap {
    top: -3px;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    background-color: rgba(0, 0, 0, 0.672);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .to-know {
    font-size: 20px;
    padding: 2px 2px;
  }

  .menu-wrap .menu > div > div > ul > li {
    font-size: 40px;
    padding-bottom: 3rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 20px 50px;
  }

  .banner {
    padding: 150px 50px 0;
    flex-direction: column;
  }

  .banner:before {
    display: none;
  }

  .banner .textBox {
    max-width: 100%;
  }

  .banner.textBox h2 {
    font-size: 2.5em;
  }

  .banner .videoBx,
  .the-main-content {
    width: 100%;
    height: 564px;
    margin: 40px 0 100px;
  }

  .banner .sci {
    left: 50px;
  }
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 24px 0;
  }

  .kenya {
    margin-top: 10rem;
    padding: 0 4rem;
  }
}
