/* NEW FOOTER STARTS HERE */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ede7f6;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
} */

footer-3 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 200;
}

footer-3 h2 {
  text-transform: uppercase;
}

footer-3 .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer-3 .footer-container .sec {
  margin-right: 30px;
}

footer-3 .footer-container .sec.aboutus {
  width: 333px;
}
footer-3 .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 300;
  margin-bottom: 15px;
}

footer-3 .footer-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer-3 p {
  color: rgb(232, 232, 232);
}

.footer-sci {
  margin-top: 20px;
  display: flex;
}

.footer-sci li {
  list-style: none;
}

.footer-sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
}

.footer-sci li a:hover {
  background: #f00;
}

.footer-sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
  color: rgb(232, 232, 232);
}
.quickLinks h2 {
  position: relative;

  color: #fff;
}

.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a {
  color: rgb(232, 232, 232);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.contact {
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  color: rgb(232, 232, 232);
}
.contact .info li a {
  color: rgb(232, 232, 232);
  text-decoration: none;
}

@media (max-width: 991px) {
  footer-3 {
    padding: 40px;
  }

  footer-3 .footer-container {
    flex-direction: column;
  }

  footer-3 .footer-container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer-3 .footer-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }
}

/* NEW FOOTER ENDS HERE*/
