@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.95);
  --menu-speed: 0.75s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* MENU */

.menu {
  display: flex;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 100000;
}

.line {
  display: inline-block;
  width: 30px;
  height: 3px;
  background: white;
  margin: 3px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  transition: all 0.4s ease-in;
  padding: 5px;
  top: 7px;
  margin-right: 5px;
}

/* MENU */

/* NAIGATION STARTS HERE */

/* NAIGATION ENDS HERE */

/* HAMBURGER MENU STARTS HERE */

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: relative;
  top: 0px;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: relative;
  top: 0px;
  right: 0;
  z-index: 200000;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

/* COPY 1 */

.menu-wrap .hamburger {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  /* background: var(--primary-color); */
  background-color: rgba(0, 0, 0, 0.672);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 200vw;
  height: 250vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* HAMBURGER MENU ENDS HERE */

/* LANDING PAGE STARTS HERE */

body {
  background: #111;
  width: 100%;
}

/* COPY 2 */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  z-index: 1000;
  /* background-color: #151320af; */
  background-color: rgb(211, 211, 211);
  z-index: 1000000;
}

/* COPY 3 */

.logo {
  position: relative;
  top: 3px;
  width: 8.5rem;
  z-index: 10000;
}

header .toggle {
  max-width: 60px;
  cursor: pointer;
}

header .toggle img {
  max-width: 100%;
}

/* COPY 4 */

.top-logo-phone {
  position: relative;
  top: 0px;
  color: rgba(33, 21, 21, 0.802);
  font-size: 1.5rem;
}

/* .header-info {
  position: relative;
  top: -4px;
  left: 2.4rem;
} */

.header-info-1 {
  display: flex;
  position: relative;
}

.header-info-2 {
  position: relative;
  top: -5px;
  color: rgb(48, 47, 47);
}
.header-info-2 .logo-header {
  font-size: 1.3rem;
}
.header-info-2 .phone-number {
  font-size: 1.3rem;
}

.header-info-2 .fa-twitter:before,
.header-info-2 .fa-instagram:before {
  font-size: 1.7rem;
}

.twitter-header {
  color: #00acee;
  margin-right: 1rem;
}

.instagram-header {
  color: #c13584;
}

.top-logo-twitter {
  position: relative;
  right: -18px;
  font-size: 2rem;
  top: -3px;
}
.top-logo-instagram {
  position: relative;
  margin-right: 15px;
  font-size: 2rem;
  top: 4px;
  right: -30px;
}

.top-text {
  position: relative;
  font-size: 1.2rem;
  right: -0.5rem;
  margin-right: 15px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
}

/* edit here */
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  pointer-events: none;
}

.banner .textBox {
  position: relative;
  max-width: 550px;
  z-index: 2;
}

.banner .textBox h2 {
  color: #fff;
  font-size: 3em;
  font-weight: 400;
}

.banner .textBox p {
  color: #fff;
  font-size: 1.2em;
  margin: 5px 0 25px;
  font-weight: 300;
}

.banner .textBox a {
  position: relative;
  display: inline-block;
  background: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  padding: 8px 8px;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: capitalize;
}

.banner .videoBx {
  position: relative;
  background: #fff;
  margin-left: 40px;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.5;
}

.banner .videoBx img {
  opacity: 1;
}

/* KEVIN POWELL COLLAGE STARTS HERE */

.the-main-content {
  position: relative;
  background: transparent;
  margin-left: 40px;
  padding: 0rem;
  height: 400px;
  width: 100%;
}

.portfolio {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}

.the-main-content .portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}

.portfolio-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}
.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}
.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}
.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}

.one {
  background-image: url(./img/food2.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
}

.two {
  background-image: url(./img/collage/talll.jpg);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 10px;
}
.three {
  background-image: url(./img/landscape.jpg);
  background-size: cover;
  background-position: center;
}
.four {
  background-image: url(./img/collage/wide3.jpg);
  background-size: cover;
  background-position: center;
}
.five {
  background-image: url(./img/collage/tall3.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 10px;
}

.six {
  background-image: url(./img/animals.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 10px;
}

/* KEVIN POWELL COLLAGE ENDS HERE */

.banner .sci {
  position: absolute;
  bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .sci li {
  list-style: none;
}

.banner .sci li a {
  display: inline-block;
  margin-right: 15px;
}

.banner .sci li a img {
  transform: scale(0.5);
  filter: invert(1);
}

/* LANDING PAGE ENDS HERE */

/* CARD GRID STARTS HERE */

.card-grid-section {
  position: relative;
}

.card-grid {
  position: relative;
  background-color: #151320;

  display: grid;
  place-items: center center;
  font-family: "Poppins", sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  padding: 30px;
  padding: 100px 20px;
  grid-gap: 50px;
}
.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.card a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
.container {
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
}
.container img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card1 > .container:after {
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.card2 > .container:after {
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
  margin-left: 1rem;
}
.card3 > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.card4 > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0 15px 0;
}
.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 3 00;
}

/* CARD GRID ENDS HERE */

/* WHO CAN TRAVEL WITH US STARTS HERE */

.body {
  margin-top: 5rem;
  position: relative;
  height: 100vh;
}
.body-1 {
  padding: 7rem 0 15rem 0;
}

.title-1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 3rem;
}

.swiper-container {
  height: 600px;
  max-width: 700px;
}

.swiper-slide {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #000;
}

.box-1 {
  position: relative;
  justify-content: center;
  align-content: center;
  color: white;
}

.box-1 .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;

  pointer-events: none;
}

.prev,
.next {
  color: #fff !important;
}

.box-1:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: black;
  z-index: -1;
}
.box-1:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  right: -2px;
  bottom: -2px;
  background: black;
  z-index: -2;
  filter: blur(30px);
}

.box-1::before,
.box-1::after {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efbb1,
    #fc466aa9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efbbb,
    #fc466a9c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-2::before,
.box-2::after {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5bd,
    #00d0ffb1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd58a,
    #00d0ff65
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-3::before,
.box-3::after {
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ae05e6bd,
    #00f261a3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #15857c,
    #00f26165
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-4::before,
.box-4::after {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff79,
    #8000ff7c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff85,
    #8000ff9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-5::before,
.box-5::after {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-6::before,
.box-6::after {
  background: #800080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc0cb8e,
    #800080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc0cb3c,
    #800080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-7::before,
.box-7::after {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-8::before,
.box-8::after {
}

.box-9::before,
.box-9::after {
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f8b6007c,
    #fceabb88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f8b6005d,
    #fceabb58
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-1 .content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  color: #fff;
}

.content-1 h2 {
  margin-top: 3rem;
  font-size: 30px;
  font-weight: 200;
}

.content-1 h2,
.content-1 p {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}

/* WHO CAN TRAVEL WITH US STARTS HERE */

/* PACKAGES STARTS HERE*/

.body-packages {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.container-packages {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container-packages .card-packages {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.6s ease-in-out;
}

.card-packages:hover {
  height: 420px;
}

.imgBx-packages {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.imgBx-packages img {
  max-width: 100%;
  border-radius: 4px;
}

.content-packages {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card-packages:hover .content-packages {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* PACKAGES ENDS HERE*/

/* NEW CARD GRID STARTS HERE*/

.new-title {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 300;
  color: rgb(221, 218, 218);
}

.new-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: linear-gradient(to right, #136a8a, #267871);
}

.new-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.new-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.new-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  /* background-color: #2a2b2f; */

  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.new-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: (255, 255, 255, 0.1);
}

.new-box:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

.new-content {
  padding: 20px;
  text-align: center;
}

.new-content h3,
.new-content p {
  font-weight: 400;
}

.new-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
}

.new-content h3 {
  font-size: 1.9em;
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  transition: 0.5s;
}

.new-content p {
  font-size: 1.4em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  transition: 0.5s;
}

/* NEW CARD GRID STARTS HERE*/

/* WHAT YOU SHOULD KNOW */

/* WHAT YOU SHOULD KNOW */

/* FOOTER STARTS HERE */

footer {
  position: relative;
  bottom: 0px;
  background: #111;
  padding: 4rem 0;
  padding-left: 90px;
}

footer h2,
footer p,
footer span {
  color: rgb(158, 158, 158);
}

.main-content {
  display: flex;
  flex-direction: row;
}

.main-content .box {
  width: 100%;
}

.box {
  margin-left: 1rem;
}

.box h2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -26px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -26px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}

.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form .msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

.intro-header {
  position: relative;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
}

/* footer .fa-twitter:before,
footer .fa-instagram:before {
  font-size: 2.5rem;
} */

.copied-alert {
  visibility: hidden;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(10, 10, 10);
  font-size: 1.5rem;
  text-align: center;

  color: white;
}

.span-copied {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
}

button {
  cursor: pointer;
}

/* NEW FOOTER STARTS HERE */

/* footer-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ede7f6;
}

footer-3 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer-3 .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer-3 .footer-container .sec {
  margin-right: 30px;
}

footer-3 .footer-container .sec.aboutus {
  width: 40%;
}
footer-3 .footer-container .sec.aboutus {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-head-2 {
  position: relative;
}

footer-3 .footer-container .sec.aboutus h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.footer-sci {
  margin-top: 20px;
  display: flex;
}

.footer-sci li {
  list-style: none;
}

.footer-sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.footer-sci li a:hover {
  background: #f00;
}

.footer-sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.icon-position {
  position: relative;
  top: 8px;
  left: 12px;
} */

footer-3 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 200;
}

footer-3 h2 {
  text-transform: uppercase;
}

footer-3 .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer-3 .footer-container .sec {
  margin-right: 30px;
}

footer-3 .footer-container .sec.aboutus {
  width: 333px;
}
footer-3 .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 300;
  margin-bottom: 15px;
}

footer-3 .footer-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer-3 p {
  color: rgb(232, 232, 232);
}

.footer-sci {
  margin-top: 20px;
  display: flex;
}

.footer-sci li {
  list-style: none;
}

.footer-sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
}

.footer-sci li a:hover {
  background: #f00;
}

.footer-sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
  color: rgb(232, 232, 232);
}
.quickLinks h2 {
  position: relative;

  color: #fff;
}

.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a {
  color: rgb(232, 232, 232);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.contact {
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  color: rgb(232, 232, 232);
}
.contact .info li a {
  color: rgb(232, 232, 232);
  text-decoration: none;
}

.footer-sci li a .fa {
  color: #fff;
  font-size: 30px;
}

/* NEW FOOTER ENDS HERE*/

/* FOOTER ENDS HERE */
@media (max-width: 1071px) {
  /* footer .fa-twitter:before,
  footer .fa-instagram:before {
    font-size: 4.4rem;
  } */
  .box h2 {
    font-size: 34px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    width: 100%;
    margin-bottom: 5rem;
  }

  .intro-header {
    position: relative;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 0.4rem;
    font-size: 2.1rem;
  }

  .header-info-2 .fa-twitter:before,
  .header-info-2 .fa-instagram:before,
  .header-info-2 .logo-header {
    font-size: 2.2rem;
  }

  .header-info-2 .logo-header {
    position: relative;
    font-size: 1.6rem;
    top: 2px;
  }

  header {
    padding: 10px 50px;
  }

  .hide {
    display: none;
  }

  .logo {
    width: 7.5rem;
  }

  .top-text {
    font-size: 22px;
    right: 0px;
  }

  .top-logo-instagram {
    font-size: 40px;
  }

  .top-logo-twitter {
    font-size: 40px;
    right: -24px;
    top: -4px;
  }

  .banner {
    padding: 150px 50px 0;
    flex-direction: column;
  }

  .banner:before {
    display: none;
  }

  .banner .textBox {
    max-width: 100%;
  }

  .banner.textBox h2 {
    font-size: 2.5em;
  }

  .banner .videoBx,
  .the-main-content {
    width: 100%;
    height: 564px;
    margin: 40px 0 100px;
  }

  .banner .sci {
    left: 50px;
  }

  .title-footer {
    font-weight: 600;
  }

  /* .left .content .social a span {
    height: 50px;
    width: 50px;
    margin-right: 40px;
    font-size: 70px;
  } */

  .content-1 h2 {
    font-size: 34px;
  }
  .content-1 p {
    font-size: 27px;
  }
}

#myInp {
  background-color: transparent;
  width: 9rem;
}

.input-text {
  position: relative;
  display: inline-block;
  top: -5px;
  right: 33px;
}

@media (max-width: 991px) {
  .pos-up {
    position: relative;
    top: -5px;
  }

  footer-3 {
    padding-left: 70px;
  }

  footer-3 .footer-container {
    flex-direction: column;
  }

  footer-3 .footer-container h2 {
    font-size: 33px;
  }

  .quickLinks ul li {
    font-size: 22px;
  }

  .contact .info {
    position: relative;
    font-size: 26px;
  }

  footer-3 .footer-container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer-3 .footer-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  .footer-sci li a .fa {
    color: #fff;
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  #btnCopy {
    position: relative;
    padding: 6px 5px;
    font-weight: 400;
    color: rgb(31, 31, 31);
    top: -2px;
  }

  .input-text {
    top: 0;
    color: rgb(31, 31, 31);
  }

  #myInp {
    width: 11rem;
    font-weight: 400;
    font-size: 18px;
    padding: 2px;
  }

  .input-text {
    font-size: 19px;
  }

  .input-text {
    position: relative;
    display: inline-block;
    top: -3px;
    right: 22px;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 39px;
    padding: 2rem 2rem;
  }

  .header-info {
    left: -9px;
    top: -6px;
  }

  .top-logo-phone {
    font-size: 29px;
  }

  .body {
    position: relative;
    height: 70vh;
  }

  .title-1 {
    margin-bottom: 50px;
  }

  .swiper-container {
    height: 600px;
    width: 900px;
  }
  .main-content h2 {
    margin-top: 2rem;
    font-size: 40px;
    font-weight: 400 !important;
  }

  .main-content h2,
  .main-content p {
    margin-bottom: 2rem;
    font-weight: 300;
  }

  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main-content .box {
    margin: 0 0 50px 0;
  }

  .content .text-info {
    font-size: 18px;
  }

  .menu-wrap {
    top: -1px;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    background-color: rgba(0, 0, 0, 0.672);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 790px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .box h2 {
    font-size: 23px !important;
  }

  .main-content .box {
    margin: 5px 0;
  }

  .main-content .title-footer {
    font-size: 25px;
  }
}

@media (max-width: 850px) {
  .body {
    height: 40vh;
  }

  .swiper-container {
    height: 810px;
    width: 700px;
  }
}
@media screen and (max-width: 750px) {
  .body {
    height: 40vh;
  }

  .swiper-container {
    height: 810px;
    width: 600px;
  }
}
@media (max-width: 650px) {
  .body {
    height: 90vh;
  }

  /* .swiper-container {
    height: 600px;
    width: 400px;
  } */
}
@media (max-width: 550px) {
  .body {
    height: 90vh;
  }

  /* .swiper-container {
    height: 600px;
    width: 300px;
  } */
}
@media (max-width: 450px) {
  .body {
    height: 90vh;
  }

  /* .swiper-container {
    height: 700px !important;
    width: 500px;
  } */
}

@media (max-width: 380px) {
  .body {
    height: 50vh;
  }

  .logo {
    width: 7rem;
  }
  /* .swiper-container {
    height: 600px;
    width: 600px;
  } */

  .content-1 p {
    font-size: 29.5px;
  }
}
@media (max-width: 370px) {
  .body {
    height: 50vh;
  }

  .header-info-2 .fa-phone:before,
  .fa-phone::after,
  .fa-phone {
    content: "";
    display: none !important;
  }

  .logo {
    width: 6rem;
  }

  /* .swiper-container {
    height: 600px;
    width: 600px;
  } */
}
