body {
  font-family: "Lato", sans-serif;
  color: #777;
  line-height: 1.7;
  font-weight: 400;
  padding: 3rem;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
